{% extends "base.html" %}

{% block app_content %}
<div
    style="width: 100%; display: flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;">
    <form action="" method="post" class="form" role="form"
        style="display: flex; flex-direction:row; width: 60%; margin-bottom: 40px;"> 
        <input class="form-control" id="net" name="net" placeholder="Input the net value" type="text"
            value="" style="margin-right: 20px;">

    </form>
</div>
{% endblock %}