{% extends "base.html" %}

{% block app_content %}
<div
    style="width: 100%; display: flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;">
    <form action="" method="post" class="form" role="form"
        style="display: flex; flex-direction:row; width: 60%; margin-bottom: 40px;"> 
        <input class="form-control" id="net" name="net" placeholder="Input the net value" type="text"
            value="" style="margin-right: 20px;">
        <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Search">

    </form>
    {% if data %}
    <table class="table table-striped table-bordered table-hover table-condensed" style="width: 60%; margin:auto">
        <tr>
            <th>time</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>depth</th>
            <th>mag</th>
            <th>net</th>
            <th>id</th>
            <th>place</th>
            <th>operation</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0]}}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>
                <form action="/" method="post" class="form" role="form"
                style="display: flex; flex-direction:row;"> 
                <input class="form-control" id="id" name="id"  type="hidden"
                        value="" style="margin-right: 2px;">
                <input class="form-control" id="place" name="place" placeholder="Input the place you want to modify" type="text"
                        value="${row[5]}" style="margin-right: 2px;">
                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="edit">
                </form>
                <button action="/delete" id="id" value="${row[5]}" method="post">delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
<script>

</script>